#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	box-shadow: inset 0 0 0 50px rgba(255,255,255,1);
	z-index: 20;
	pointer-events: none;
	.icon-link {
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		pointer-events: visible;
		a {
			margin: 10px 0;
			font-size: 15px;
			width: 23px;
			height: 23px;
			text-align: center;
			border-radius: 25px;
			line-height: 23px;
			color: #fff;
			font-weight: 800;
		}
		a:nth-of-type(1) { color: $red; font-size: 25px; }
		a:nth-of-type(2) { background-color: $facebook; font-size: 13px; padding: 1px 0 0 1px; }
		a:nth-of-type(3) { background-color: $orange; font-size: 15px; padding: 0px 0 0 1px; }
		a:nth-of-type(4) { background-color: $green; font-size: 15px; padding: 0px 0 0 1px; }
	}

	.text-link {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: visible;
		a {
			position: relative;
			padding: 5px 15px 5px 20px;
			margin: 0 1vh;
			letter-spacing: 2px;
			font-size: 13px;
			color: rgba(0,0,0,.6);
			font-weight: bold;
			transition: .3s ease;
			&:after {
				transition: .3s ease;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -10px;
				width: 0;
				margin: auto;
		    border-style: solid;
		    border-width: 0 7px 0px 7px;
		    border-color: transparent transparent rgba(255,255,255,0) transparent;
			}
			&:hover {
				&:after {
			    border-width: 0 7px 8px 7px;
			    border-color: transparent transparent #fff transparent;
				} 
			}
		}
	}
}

@media screen and (max-width: 992px){
	#nav {
		box-shadow: inset 0 0 0 9px rgba(255,255,255,1);
		background-color: rgba(0,0,0,0);
		transition: .3s;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50px;
			background-color: #fff;
		}
		$menu-top: 17px;
		.menu-btn {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 50px;
			height: 50px;
			margin: auto;
			pointer-events: visible;
			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 3px;
				border-radius: 2px;
				top: $menu-top;
				left: 0;
				right: 0;
				margin: 0 auto;
				background-color: $red;
				z-index: 30;
				box-shadow: 0 6px 0 0 $red;
				transition: .3s;
			}
			&:after {
				content: '';
				position: absolute;
				width: 20px;
				height: 3px;
				border-radius: 2px;
				top: $menu-top;
				left: 0;
				right: 0;
				margin: 12px auto;
				background-color: $red;
				z-index: 1;
				transition: .3s;
			}
		}
		.content {
			position: relative;
			width: 100%!important;
			height: 50px;
			margin: 0px!important;
			overflow: hidden;
			transition: .5s ease;
		}
		.icon-link {
			position: relative;
			top: 0;
			width: 100%;
			height: 100vh;
			padding: 13px 9px 6vh 9px;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			a {
				margin: 0 calc( 6% - 10px);
			}
			a:nth-of-type(1) { margin-right: calc( 27% - 15px) }
			a:nth-of-type(2), a:nth-of-type(3) { 
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 17px;
				align-self: flex-end; 
				padding: 0;
				opacity: 0;
				transition: .3s ease .3s;
			}
			a:nth-of-type(4) { margin-left: calc( 27% - 15px) }
		}

		.text-link {
			width: 100%;
			height: calc( 100vh - 50px );
			flex-direction: column;
			pointer-events: none;
			a {
				margin: 0 0 2.5vh 0;
				font-size: 20px;
				color: #fff;
				opacity: 0;
				transform: translateY(-40px);
				transition: 1.5s ease;
				&:after {
					display: none;
				}
			}
		}
	}
	#nav.show {
		box-shadow: inset 0 0 0 9px rgba(255,255,255,0);
		background-color: $red;
		$menu-top: 17px;
		.menu-btn {
			&:before {
				content: '';
				box-shadow: 0 0 0 0 rgba(0,0,0,0);
				transform-origin: 0 50%;
				transform: translateY(-2px) rotate(45deg);
			}
			&:after {
				transform-origin: 0 50%;
				transform: rotate(-45deg);
			}
		}
		.content {
			height: 100vh;
		}
		.icon-link {
			a:nth-of-type(2), a:nth-of-type(3) { 
				opacity: 1;
			}
		}
		.text-link {
			a {
				pointer-events: visible;
				transform: translateY(0);
				opacity: 1;
			}
		}
	}	
}
