$main: #0d2565;
$sup: #63ffe2;
$facebook: #255999;
$green: #00b3a4;
$orange: #ffaa00;
$red: #ff545a;
$red-l: #ff9090;
$pink: #ff73ff;
$purple: #8c6bdd;
$g1: linear-gradient(45deg, $red 20%, $pink 100%);
$g2: linear-gradient(to right, #7842C7 0%, rgba(255,255,255,0) 50%);
$g3: linear-gradient(to left, #00C2BF 20%, rgba(255,255,255,0) 80%);
$g4: linear-gradient(to right, #006AC2 0%, rgba(255,255,255,0) 70%);
$g5: linear-gradient(to left, #FFA000 30%, rgba(255,255,255,0) 60%);
$g-red: linear-gradient(-45deg, #ff1a26 0%, #ff646f 100%);
$g-og: linear-gradient(-45deg, #ff9700 0%, #ffc510 100%);

$p100: PingFangTC-Ultralight, 'Noto Sans TC', sans-serif, Microsoft JhengHei;
$p200: PingFangTC-Thin, 'Noto Sans TC', sans-serif, Microsoft JhengHei;
$p300: PingFangTC-Light, 'Noto Sans TC', sans-serif, Microsoft JhengHei;
$p400: PingFangTC-Regular, 'Noto Sans TC', sans-serif, Microsoft JhengHei;
$p500: PingFangTC-Medium, 'Noto Sans TC', sans-serif, Microsoft JhengHei;
$p600: PingFangTC-Semibold, 'Noto Sans TC', sans-serif, Microsoft JhengHei;

$nav: 50px;