#pop-step2 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 20;
	padding: 50px;
	@media screen and ( max-width: 992px ) {
		padding: 50px 0 0 0;
		background-color: rgba(0,0,0,.75);
	}
	.close {
		position: fixed;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #fff;
		border-radius: 20px;
		top: 60px;
		right: 60px;
		box-shadow: 2px 3px 3px 0 rgba(0,0,0,.2);
		@media screen and ( max-width: 992px ) {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 12px;
			top: 10px;
			right: 10px;
		}
	}
	.content[data-game="1"] .label { color: #CB4AA2; }
	.content[data-game="2"] .label { color: #029C4B; }
	.content[data-game="3"] .label { color: #00C0C0; }
	.content[data-game="4"] .label { color: #FFA002; }
	.content[data-game="1"] label { color: #CB4AA2; }
	.content[data-game="2"] label { color: #029C4B; }
	.content[data-game="3"] label { color: #00C0C0; }
	.content[data-game="4"] label { color: #FFA002; }
	.content[data-game="1"] .facebook_share_btn { color: #CB4AA2; }
	.content[data-game="2"] .facebook_share_btn { color: #029C4B; }
	.content[data-game="3"] .facebook_share_btn { color: #00C0C0; }
	.content[data-game="4"] .facebook_share_btn { color: #FFA002; }
	.content[data-game="1"] { background-color: #CB4AA2; }
	.content[data-game="2"] { background-color: #029C4B; }
	.content[data-game="3"] { 
		background-color: rgba(255,255,255,.6) ;
		@media screen and (max-width: 992px) {
			background-color: rgba(0,0,0,0);
		}
	}
	.content[data-game="4"] { background-color: #FFA002; }
	.content {
		display: none;
		padding: 7.5%;
		width: 100%;
		overflow-y: auto;
		height: 100%;
		color: #fff;
		letter-spacing: 1px;
		&::-webkit-scrollbar {
    	width: 5px;
		}
		&::-webkit-scrollbar-thumb {
		  background-color: rgba(255,255,255,.7);
		  border-radius: 10px;
		}
		.container {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
		}
		.description {
			display: flex;
			justify-content: center;
			align-items: stretch;
		}
		.logo_section {
			position: relative;
			flex: 0 0 auto;
			width: calc( 33% - 40px );
			font-size: 15px;
			background-color: #fff;
			margin: 10px 0;
			border-radius: 4px;
			color: rgba(0,0,0,.75);
			padding: 23px;
			&:after {
				content: '週週好禮';
				position: absolute;
				top: -20px;
				left: -10px;
				border-radius: 3px;
				width: 100px;
				line-height: 30px;
				background-color: $red;
				color: #fff;
				text-align: center;
			}
			.logo {
				overflow: hidden;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				position: absolute;
				top: 0;
				right: 0;
				transform: translate3d(36%,-36%,0);
				box-shadow: 0 0 0 3px #B98C46,
										0 0 0 8px #ffffff,
										2px 2px 3px 8px rgba(0,0,0,.3);
				img {
					width: 100%;
				}
			}
			p {
				margin: 0;
				width: 85%;
			}
		}
		.hint {
			flex: 0 0 auto;
			width: 67%;
			border-radius: 4px;
			box-shadow: inset 0 0 0 1px #fff;
			padding: 5% 4%;
			margin: 10px 40px 10px 0;
			.label {
				display: inline-block;
				width: 60px;
				text-align: center;
				background-color: rgba(255,255,255,1);
				border-radius: 3px;
				font-size: 13px;
				letter-spacing: 0;
				line-height: 20px;
				margin-right: 12px;
			}
			.text {
				display: inline-block;
				width: calc( 100% - 80px );
				margin-bottom: 10px;
				font-size: 15px;
			}
			.text:nth-of-type(4) {
				margin-bottom: 0;
			}
		}
		.facebook_share_btn {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -50px;
			background-color: #fff;
			color: rgba(0,0,0,.5);
			border-radius: 30px;
			width: 60%;
			margin: 0 auto;
			font-size: 14px;
			padding: 5px;
			transition: .3s ease;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}
	.content[data-game="1"] {
		@media screen and ( max-width: 992px ) {
			padding: 5%;
			.description {
				display: block;
			}
			.hint {
				flex: 0 0 100%;
				width: 100%;
			}
			.logo_section {
				width: 100%;
				margin: 50px auto;
				.logo {
					width: 50px;
					height: 50px;
					transform: translate3d(0,0,0);
				}
			}
		}
		.mission_section {
			margin: 30px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			.mission1 .bot, .mission1 .play { background-color: #E23489 }
			.mission2 .bot, .mission2 .play { background-color: #FB80ED }
			.mission3 .bot, .mission3 .play { background-color: #816EFF }
			.mission {
				position: relative;
				flex: 0 0 305px;
				width: 30.5%;
				background-color: #fff;
				border-radius: 5px;
				box-shadow: 2px 2px 4px 0 rgba(0,0,0,.3);
				color: #CB4AA2;
				h4 {
					font-size: 13px;
					margin-bottom: 3px;
				}
				.play {
					position: absolute;
					width: 35px;
					height: 35px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin:  auto;
					border-radius: 30px;
					box-shadow: 0 0 0 2px #fff;
					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 10px;
						right: 11px;
				    border-style: solid;
				    border-width: 7px 0 7px 10px;
				    border-color: transparent transparent transparent #fff;
					}
				}
				.top {
					padding: 20px;
				}
				.bot {
					padding: 23px 20px;
					color: #fff;
					border-radius: 0 0 5px 5px;
					p {
						font-size: 14px;
					}
				}
				@media screen and ( max-width: 992px ) {
					flex: 0 0 100%;
					width: 100%;
					margin: 0 0 80px 0;
				}
			}
		}
	}
	.content[data-game="2"], .content[data-game="4"] {
		padding: 3.5% 60px;
		@media screen and ( max-width: 992px ) {
			padding: 5%;
		}
		.facebook_share_btn {
			width: 70%;
		}
		.container {
			max-width: 1200px;
		}
		.description {
			float: left;
			flex-direction: column;
			width: 40%;
			box-shadow: 1px 0 0 0 rgba(255,255,255,.3);
			padding-right: 50px;
			margin-right: 50px;
			@media screen and ( max-width: 992px ){
				width: 100%;
				padding-right: 0;
				margin-right: 0;
				box-shadow: 1px 0 0 0 rgba(255,255,255,0);
			}
		}
		.hint {
			width: 100%;
			padding: 30px;
			display: block;
			.label {
				display: block;
				margin-bottom: 6px;
			}
			.text {
				display: block;
				padding: 5px 20px;
				width: 100%;
				margin: 0 0 6px 0;
				font-size: 14px;
			}
			@media screen and ( max-width: 992px ) {
				padding: 10px;
				.text {
					padding: 5px 10px;
				}
			}
		}
		.logo_section {
			margin-top: 48px;
			width: 100%;
			.logo {
				position: absolute;
				right: -20px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 150px;
				height: 150px;
				transform: translate3d(0,0,0);
				border-radius: 3px;
				box-shadow: 2px 2px 4px 0 rgba(0,0,0,.3);
				@media screen and (max-width:992px){
					width: 100px;
					height: 100px;
					right: -5px;
				}
			}
			&>p {
				width: calc( 100% - 130px);
				@media screen and (max-width:992px){
					width: calc( 100% - 80px);
					font-size: 13px;
				}
			}
		}
		.upload-section {
			float: left;
			width: calc( 60% - 50px );
			@media screen and (max-width: 992px) {
				width: 100%;
			}
			.g-upload {
				float: left;
				width: 45%;
				margin: 0 2.5%;
				text-align: center;
				@media screen and (max-width: 992px) {
					width: 95%;
					margin: 20px 2.5% 50px;
				}
				img {
					width: 100%;
				}
			}
			.input-group {
				margin-top: 10px;
				position: relative;
				width: 100%;
				height: auto;
				background-color: rgba(255,255,255,.5);
				box-shadow: inset 0 0 0 4px rgba(255,255,255,1);
				font-size: 0;
				input {
					display: none;
				}
				img {
					visibility: hidden;
				}
				label {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					span {
						width: 40px;
						height: 40px;
						line-height: 40px;
						background-color: #fff;
						border-radius: 100%;
						letter-spacing: 0;
						font-size: 25px;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
					}
				}
			}
		}
	}
	.content[data-game="3"] {
		padding: 0;
		z-index: 20;
		.container {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			max-width: 640px;
			height: 400px;
			background-color: #00aef1;
			width: 95%;
			@media screen and ( max-width: 992px ) {
				height: calc( 100vh - 100px );
			}
			.form_result {
				display: flex;
				display: none;
				top: 0;
				left: 0;
				justify-content: space-between;
				align-items: center;
				background-color: #00aef1;
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 25px;
				max-height: 100%;
				margin: 50px auto;
				margin: 0 auto;
				.upload-section {
					flex: 0 0 200px;
					width: 200px;
					
					.g-upload {
						width: 100%;
						height: auto;
						text-align: center;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
					}
					h2 {
						font-size: 13px;
						margin-top: 30px;
					}
					.input-group {
						margin-top: 10px;
						position: relative;
						width: 200px;
						height: 200px;
						background-color: #25D3F7;
						box-shadow: inset 0 0 0 4px rgba(255,255,255,1);
						font-size: 0;
						input {
							display: none;
						}
						label {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 200px;
							background-color: rgba(255,255,255,.5);
							span {
								width: 40px;
								height: 40px;
								line-height: 40px;
								background-color: #fff;
								border-radius: 100%;
								letter-spacing: 0;
								font-size: 25px;
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								margin: auto;
							}
						}
					}
				}
				.form_result_text {
					display: none;
					flex: 0 0 calc( 100% - 230px );
					width: calc( 100% - 230px );
					font-size: 15px;
					animation: showUp .4s 1.6s ease 1 both;
					@keyframes showUp{
						  0%{ opacity: 0; transform: translateY(50px); }
						100%{ opacity: 1; transform: translateY(0); }
					}
					h3 {
						font-size: 18px;
					}
					p {
						font-size: 14px;
						margin: 20px 0;
						line-height: 1.7;
					}
					.facebook_share_btn {
						position: relative;
						top: 0;
						bottom: auto;
						background-color: #fff;
						font-size: 13px;
						width: 180px;
						line-height: 27px;
						text-align: center;
						color: #00aef1;
						margin: 0 auto 20px 0;
						i {
							margin-right: 10px;
						}
					}
					h4 {
						font-size: 14px;
					}
				}
			}
			.form {
				width: 95%;
				height: 300px;
				padding: 0 25px;
				max-width: 570px;
				margin: 50px auto;
				overflow-y: auto;
				@media screen and ( max-width: 992px ) {
					padding: 10px;
					height: calc( 100vh - 170px );
				}
				&::-webkit-scrollbar {
		    	width: 5px;
				}
				&::-webkit-scrollbar-track {
				  background-color: rgba(255,255,255,.2);
				  border-radius: 10px;
				}
				&::-webkit-scrollbar-thumb {
				  background-color: rgba(255,255,255,.7);
				  border-radius: 10px;
				}
				h2 {
					text-align: center;
					margin-bottom: 40px;
					font-size: 16px;
					@media screen and ( max-width: 992px ) {
						font-size: 14px;
					}
				}
				.qa-section {
					font-size: 15px;
					line-height: 1.8;
					margin-top: 30px;
				}
				.result {
					display: block;
					width: 120px;
					line-height: 35px;
					text-align: center;
					font-size: 13px;
					background-color: #fff;
					color: #00aef1;
					transition: .3s ease;
					opacity: .7;
					margin: 30px auto;
					&:hover {
						opacity: 1;
					}
				}
				.a-input-group {
					margin-top: 20px;
					label { 
						display: block;
						color: rgba(255,255,255,.75); 
						display: flex;
						justify-content: flex-start;
						align-items: center;
						cursor: pointer;
						&:before {
							content: '';
							position: relative;
							display: inline-block;
							width: 15px;
							height: 15px;
							margin-right: 15px;
							border-radius: 15px;
							background-color: #fff;
							box-shadow: inset 0 0 0 1px #fff,
													inset 0 0 0 20px #00aef1;
							transition: .3s ease;
						}
					}
					input {
						display: none;
					}
					input:checked + label {
						color: rgba(255,255,255, 1); 
						&:before {
							box-shadow: inset 0 0 0 1px #fff,
													inset 0 0 0 4px #00aef1;
						}
					}
				}
			}
			.logo {
				position: absolute;
				top: -35px;
				left: 4%;
				overflow: hidden;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				box-shadow: 0 0 0 2px rgba(255,255,255,.3);
				z-index: 3;
				img {
					width: 100%;
				}
			}
		}
	}
	.content[data-game="4"] {
		.hint {
			padding: 25px;
			.text {
				padding: 5px 15px;
			}
			@media screen and ( max-width: 992px ) {
				padding: 10px;
				.text {
					padding: 5px 10px;
				}
			}
		}
		.logo_section p {
			width: calc( 100% - 70px );
			@media screen and (max-width: 992px) {
				width: 100%;
			}
		}
		.logo_section .logo {
			width: 110px;
			height: auto;
			top: -30px;
			box-shadow: 0 0 0 0 rgba(0,0,0,0);
			@media screen and (max-width: 992px) {
				width: 80px;
				top: -35px;
				right: -5px;
			}
		}
	}
	.upload-example {
		img {
			margin-top: 10px;
		}
	}
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00aef1;
	z-index: 10;
	font-size: 14px;
	letter-spacing: 2px;
}
.spinner {
	margin-top: 30px;
  width: 70px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}	
.content[data-game="1"] .close { color: #CB4AA2; }
.content[data-game="2"] .close { color: #029C4B; }
.content[data-game="3"] .close { color: #00C0C0; }
.content[data-game="4"] .close { color: #FFA002; }